# Upstreams
upstream backend {
    server app:3000;
}
# HTTPS Server
server {
    listen 80;
    server_name ${NGINX_HOST};

    error_log /var/log/nginx/error.log;

    # ssl off;
    # ssl_certificate /certs/certificate.crt;
    # ssl_certificate_key /certs/certificate.key;
    # ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # don’t use SSLv3 ref: POODLE

    location / {
        proxy_pass http://backend/;

        proxy_redirect off;
    }
}
